.loader {
    background-color:  #192d3b;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    img {
        animation: myRotation 1.5s;
    };

    .loading-text {
        color: white;
    }
}

@keyframes myRotation {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }